@import 'variables' ;


body
{
    min-height: $alto-maximo;
    background: $color-fondo ;
}
// Header

#filtro
    {
        width: 268px;
        height: 100%;
        transition: 0.25s;
        
    }
#filtro:hover
    {
        box-shadow: 0px 0px 50px #ffc107;
    }
.header
{
    height: calc($alto-maximo / 5) ;
    background-color: $color-primario ;
}
#logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: $alto-maximo;
    width: 60%;
    
    
}
.logo
{
    height: calc($alto-maximo - 10%) ;
    width: 25%;
    display: block;
    margin-left: 65%;
}
#boton
    {
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        transition: all 0.3s;
        border: 2px solid #ffc107;
        background: linear-gradient( 
            to right,
            #ffc1074a 1%,
            transparent 40%,
            transparent 60%,
            #ffc1074a 100%,
            );
        color: #ffc107;
        box-shadow: inset 0 0 10px #ffc10792, 
        0 0 9px 3px #ffc1074a ;
    }

#boton:hover
    {
        cursor: pointer;
    }

#boton::before
    {
        content: '';
        position: absolute;
        width: 20px;
        left: -10%;
        height: 100%;
        top: 0;
        transition: all 0.4s ease-in-out;
        background: linear-gradient( 
            to right,
            transparent 1%,
            #ffc1074a 40%,            
            #ffc1074a 60%,
            transparent 100%
            );
    }

#boton:hover::before
    {
        transform: translateX(140px);
    }

#botones
{
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
}
// Main ingresar y Registrarte
#main2
{
height: $alto-maximo ;        
}
#contenedor2
{
    margin: auto auto;
    width: 30%;
    background-color: $color-primario;
    color: $color-txt;
    padding: auto;            
}
#contenedor3
{
    margin: auto auto;
    width: 40%;
    height: calc($alto-maximo - 30%);
    background-color: $color-primario;
    color: $color-txt;
    padding: auto;            
}
// Main Index
.main
{
height: calc($alto-maximo * 3);
align-items: center;
text-align: center;
padding-left: 4%;
margin-top: 5%;
padding-right: 4%;
}
#cardbody
    {
        height: calc($alto-maximo * 2);
    }
#imgcard1
{
    width: 70% !important;
    height: 25% !important;                        
}
#texto1
{
    text-align: left;
}
#contenedores1
{
    height: 950px;
    padding-top: 5%;
    background-color: $color-primario;
    color: $color-txt;
}
// Footer
.footer
{
height: calc($alto-maximo - 80%);
background-color: $color-primario;
display: flex;
align-items: center;
justify-content: center;
}
#redes
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height:  25px;
}
.copy
{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

// Vista celular

@media screen and (max-width: 768px)
{
    #logo
        {
            width: 50%;
            height: $alto-maximo ;   
           
        }
    #boton
        {
            font-size: 13px;
        }
    #botones
        {
            width: 50%;
            height: $alto-maximo ;   
            display: flex;
            align-items: center;
            justify-content: center;
        }
    .logo
        {
            height: $alto-maximo ;   
            width: 50%;                 
        }
    
    .main
        {
            flex-flow: column;
            flex-direction: column !important;
            justify-content: space-evenly !important;
            height: 600% !important;           
        }
        
    #contenedor1
        {
            
            padding-top: 3px;
            padding-bottom: 3px;
        }
    #principal
        {
            height: 900px;
            padding-top: 3px;
            padding-bottom: 3px;
            
        }
    #cardbody
        {                 
            padding: 0 !important;
        }
    #texto1
        {
            font-size: smaller;
        }
    header
        {
            position: sticky;
            top: 0%;
            z-index: 20;
        }
    #contenedor2
        {
            width: 60%;
            font-size: small;
        }
    #contenedor3
        {
            width: 80%;
            height: 80% ;  
            font-size: small; 
        }
    #main2
        {
            height:120% ;  
        }
    #center
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }
}
        
        // Vista Media
@media screen and (min-width: 768px) and (max-width: 1250px)
    {
    #contenedor2
        {
            width: 60%;
            font-size: small;
        }
    #contenedor3
        {
            width: 80%;
            height: 80% ;  
            font-size: small; 
        }
    #principal
        {
            height: 1200px !important;
            padding-top: 3px;
            padding-bottom: 3px;            
        }
    .main
        {
            height: 300% !important;
        }
    #contenedor1
        {
            height: 1100px !important;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    #cardbody
        {   
            height: 1100% !important; 
            background-color: $color-primario ;            
        }
}


