@import 'variables' ;

body
{
    min-height: 100%;
    background: $color-fondo ;
}
// Header
.header
{
height: 20%;
background-color: $color-primario ;
}
#logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    
    
}
.logo
{
    height: 90%;
    width: 25%;
    display: block;
    margin-left: 65%;
}
#botones
{
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
// Main ingresar y Registrarte
#main2
{
height: $alto-maximo ;        
}
#contenedor2
{
    margin: auto auto;
    width: 30%;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: auto;            
}
#contenedor3
{
    margin: auto auto;
    width: 40%;
    height: 70%;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: auto;            
}
// Main Index
.main
{
height: 300%;
align-items: center;
text-align: center;
padding-left: 4%;
margin-top: 5%;
padding-right: 4%;
}
#cardbody
        {
            height: 200%;
        }
#imgcard1
{
    width: 70% !important;
    height: 25% !important;                        
}
#texto1
{
    text-align: left;
}
#contenedores1
{
    height: 950px;
    padding-top: 5%;
    background-color: rgb(51, 51, 51);
    color: white;
}
// Footer
.footer
{
height: 20%;
background-color: rgb(51, 51, 51);
display: flex;
align-items: center;
justify-content: center;
}
#redes
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height:  25px;
}
.copy
{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

// Vista celular

@media screen and (max-width: 768px)
{
    #logo
        {
            width: 50%;
            height: $alto-maximo ;   
           
        }
    #botones
        {
            width: 50%;
            height: $alto-maximo ;   
            display: flex;
            align-items: center;
            justify-content: center;
        }
    .logo
        {
            height: $alto-maximo ;   
            width: 50%;                 
        }
    
    .main
        {
            flex-flow: column;
            flex-direction: column !important;
            justify-content: space-evenly !important;
            height: 600% !important;           
        }
        
    #contenedor1
        {
            
            padding-top: 3px;
            padding-bottom: 3px;
        }
    #principal
        {
            height: 900px;
            padding-top: 3px;
            padding-bottom: 3px;
            
        }
    #cardbody
        {                 
            padding: 0 !important;
        }
    #texto1
        {
            font-size: smaller;
        }
    .header
        {
            position: static;
        }
    #contenedor2
        {
            width: 60%;
            font-size: small;
        }
    #contenedor3
        {
            width: 80%;
            height: 80% ;  
            font-size: small; 
        }
    #main2
        {
            height:120% ;  
        }
    #center
        {
            display: flex;
            align-items: center;
            justify-content: center;
        }
}
        
        // Vista Media
@media screen and (min-width: 768px) and (max-width: 1049px)
    {
    #contenedor2
        {
            width: 60%;
            font-size: small;
        }
    #contenedor3
        {
            width: 80%;
            height: 80% ;  
            font-size: small; 
        }
    #principal
        {
            height: 1200px !important;
            padding-top: 3px;
            padding-bottom: 3px;            
        }
    .main
        {
            height: 300% !important;
        }
    #contenedor1
        {
            height: 1100px !important;
            padding-top: 3px;
            padding-bottom: 3px;
        }
    #cardbody
        {   
            height: 1100% !important; 
            background-color: $color-primario ;            
        }
}


