    /* Header */
.header
    {
        height: 20%;
        background-color: rgb(51, 51, 51);
    }
    .logo
        {
            height: 90%;
            width: 25%;
            display: block;
            margin-left: 65%;
        }
    .botones
        {
            text-align: end;
        }
        /* Main ingresar*/
#main2
    {
        height: 100%;
        background:linear-gradient(rgba(211, 211, 211, 0.6) , rgba(211, 211, 211, 0.6)) , url(https://th.bing.com/th/id/OIP.ENr88IwUhFc9zEQNUWBXoQHaHa?pid=ImgDet&w=179&h=179&c=7&dpr=1,3) ;
        background-repeat: repeat;
    }
    #contenedor2
        {
            margin: auto auto;
            width: 30%;
            background-color: rgb(51, 51, 51);
            color: white;
            padding: auto;            
        }
    /* Main index */
.main
    {
        background:linear-gradient(rgba(211, 211, 211, 0.6) , rgba(211, 211, 211, 0.6)) , url(https://th.bing.com/th/id/OIP.ENr88IwUhFc9zEQNUWBXoQHaHa?pid=ImgDet&w=179&h=179&c=7&dpr=1,3) ;
        background-repeat: repeat;
        height: 260%;
        align-items: center;
        text-align: center;
        padding-left: 4%;
        margin-top: 5%;
        padding-right: 4%;
    }
    .card
        {
            width: 100%;
        }
    #imgcard1
        {
            width: 70%;
            height: 185px;
            background-size: cover;
        }
    #texto1
        {
            text-align: left;
        }
    #contenedores1
        {
            height: 45%;
            background-color: rgb(51, 51, 51);
            color: white;
        }
        /* Footer */
.footer
    {
        height: 20%;
        background-color: rgb(51, 51, 51);
    }